.logo {
  width: 55px;      // ajusta el tamaño
  height: auto;     // mantiene proporción
  display: block;   // asegura que se comporte como bloque
  margin: 3rem 6rem;  // centra horizontalmente
}

